<app-navbar></app-navbar>
<app-navbar-principal></app-navbar-principal>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Tarifas</span>
        <div class="row">
          <div class="input-field col s2">
            <select name="filtros" id="select-filtro">
              <option value="" disabled selected>Buscar por</option>
              <option value="codigo">Código</option>
              <option value="concepto">Concepto</option>
            </select>
          </div>
          <div class="input-field col s2">
            <input id="last_name" type="text" class="validate" [(ngModel)]="prueba" name="prueba">
          </div>
          <div class="input-field col s2">
            <a class="waves-effect waves-light btn" (click)="buscar()">Buscar</a>
          </div>
          <div class="input-field col s6" style="width: 347px; margin-left: 301px; margin-top: -72px;">
            <div class="row">
              <div class="input-field col s1 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
                  <i class="material-icons">person_add</i>
                </a>
              </div>
              <div class="input-field col s1 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
                  <i class="material-icons">edit</i>
                </a>
              </div>
              <div class="input-field col s1 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
                  <i class="material-icons">
                    folder_shared</i>
                </a>
              </div>
              <div class="input-field col s1 button-right">
                <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar la tarifa?', 
                      confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info" (confirm)="deleteTarifa()"></swal>
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
                  <i class="material-icons">delete</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s12 container-table">

            <table class="bordered centered">
              <thead>
                <tr>
                  <th>Código Tarifa</th>
                  <th>Código Zona</th>
                  <th>Concepto</th>
                  <th>Plan</th>
                  <th>Valor</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let tarifa of tarifas; let i = index'>
                  <td>
                    <input name="group1" type="radio" [id]="'radio_'+i" (change)="datoSeleccionado(tarifa)" />
                    <label [attr.for]="'radio_'+i">{{ tarifa.id }}</label>
                  </td>
                  <td>{{ tarifa.zone_id }}</td>
                  <td>{{ tarifa.concept_id }}</td>
                  <td>{{ tarifa.plan_id}}</td>
                  <td>{{ tarifa.valor }}</td>
                  <td>{{ tarifa.estado }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Crear Tarifa</h4>
    <div class="row">
      <form>
        <div class="row">
          <select class="input-field col s12 m6" id="select2">
            <option value="" disabled selected>Zonas</option>
            <option [value]="zona.id" *ngFor="let zona of zonas">{{ zona.nombre }}</option>
          </select>
          <select class="input-field col s12 m6" id="select3">
            <option value="" disabled selected>Concepto</option>
            <option [value]="concepto.id" *ngFor="let concepto of conceptos">{{ concepto.descripcion }}</option>
          </select>
        </div>
        <div class="row">
          <select class="input-field col s12 m6" id="select4">
            <option value="" disabled selected>Plan</option>
            <option [value]="plan.id" *ngFor="let plan of plans">{{ plan.nombre }}</option>
          </select>
          <div class="input-field col s12 m6">
            <input id="valor" type="text" class="validate input-nombre" #valor>
            <label for="valor">Valor</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m6" id="select5">
            <option value="" disabled selected>Estado</option>
            <option value="A" #estado>Activo</option>
            <option value="I" #estado>Inactivo</option>
          </select>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <swal #guardar [options]="{ title: 'Tarifa guardada con éxito', 
      confirmButtonText: 'Aceptar'}" type="info"></swal>
    <a class="waves-effect waves-light btn" (click)="crearTarifa(valor.value)" (click)="guardar.show()">Guardar</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Actualizar Tarifa</h4>
    <div class="row">
      <form>
        <div class="row">
          <div class="row" *ngIf="tarifaEdit">
            <div class="input-field col s12 m6">
              <input id="codigo" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.id" [ngModelOptions]="{standalone: true}">
              <label class="active" for="codigo">Código</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="codigo_zona" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.zone_id" [ngModelOptions]="{standalone: true}">
              <label class="active" for="codigo_zona">Código Zona</label>
            </div>
          </div>
          <div class="row" *ngIf="tarifaEdit">
            <div class="input-field col s12 m6">
              <input disabled id="concepto" type="text" class="validate" [(ngModel)]="tarifaEdit.concept_id" [ngModelOptions]="{standalone: true}">
              <label class="active" for="concepto">Concepto</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="plan" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.plan_id" [ngModelOptions]="{standalone: true}">
              <label class="active" for="plan">Plan</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6" *ngIf="tarifaEdit">
              <input id="valor" type="text" class="validate" #valor [(ngModel)]="tarifaEdit.valor" [ngModelOptions]="{standalone: true}">
              <label class="active" for="valor">Valor</label>
            </div>
            <select class="input-field col s12 m6" id="select6" >
              <option value="" disabled selected>Estado</option>
              <option value="A" #estado>Activo</option>
              <option value="I" #estado>Inactivo</option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <swal #actualizar [options]="{ title: 'Tarifa actualizada con éxito', 
      confirmButtonText: 'Aceptar'}" type="info"></swal>
    <a class="waves-effect waves-light btn" (click)="actualizarTarifa()" (click)="actualizar.show()">Guardar</a>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Tarifa</h4>
    <div class="row">
      <form class="col s12">
          <div class="row">
              <div class="row" *ngIf="tarifaEdit">
                <div class="input-field col s12 m6">
                  <input id="codigo" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.id" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="codigo">Código</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="codigo_zona" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.zone_id" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="codigo_zona">Código Zona</label>
                </div>
              </div>
              <div class="row" *ngIf="tarifaEdit">
                <div class="input-field col s12 m6">
                  <input disabled id="concepto" type="text" class="validate" [(ngModel)]="tarifaEdit.concept_id" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="concepto">Concepto</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="plan" disabled type="text" class="validate input-nombre" [(ngModel)]="tarifaEdit.plan_id" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="plan">Plan</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6" *ngIf="tarifaEdit">
                  <input id="valor" disabled type="text" class="validate" #valor [(ngModel)]="tarifaEdit.valor" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="valor">Valor</label>
                </div>
                <div class="input-field col s12 m6" *ngIf="tarifaEdit">
                    <input id="estado" disabled type="text" class="validate" [(ngModel)]="tarifaEdit.estado" [ngModelOptions]="{standalone: true}">
                    <label class="active" for="estado">Estado</label>
                  </div>
              </div>
            </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Salir</a>
  </div>
</div>