<app-navbar></app-navbar>
<router-outlet></router-outlet>
 
<main>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue lighten-5">
        <div class="card-content black-text">
          <span class="card-title">Suscriptores</span>
          <div class="row">
            <div class="input-field col s2">
              <select>
                <option value="" disabled selected>Buscar por</option>
                <option value="1">Código</option>
                <option value="2">NIT</option>
                <option value="3">Dirección</option>
                <option value="4">Primer Nombre</option>
                <option value="5">Segundo Nombre</option>
                <option value="6">Primer Apellido</option>
                <option value="7">Segundo Apellido</option>
              </select>
            </div>
            <div class="input-field col s2" style="width:130px">
              <input id="last_name" type="text" class="validate">
            </div>
            <div class="input-field col s2">
              <a class="waves-effect waves-light btn">Buscar</a>
            </div>
            <div class="input-field col s6" style=" width: 347px;margin-left: 166px;margin-top: -21px;">
              <div class="row">
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
                    <i class="material-icons">person_add</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
                    <i class="material-icons">edit</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
                    <i class="material-icons">
                      folder_shared</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar el barrio?', 
                      confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info"></swal>
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-action">
            <div class="row">
                <div class="col s12 container-table">
                  <table class="bordered centered">
                    <thead>
                      <tr>
                          <th>Código</th>
                          <th>Primer Nombre</th>
                          <th>Segundo Nombre</th>
                          <th>Primer Apellido</th>
                          <th>Segundo Apellido</th>
                          <th>Dirección</th>
                          <th>Teléfono</th>
                          <th>Estado</th>
                          <th>Saldo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test5" />
                          <label for="test5">Red</label>
                        </td>
                        <td>Eclair</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test6" />
                          <label for="test6">Red</label>
                        </td>
                        <td>Jellybean</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test7" />
                          <label for="test7">Red</label>
                        </td>
                        <td>Lollipop</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test7" />
                          <label for="test7">Red</label>
                        </td>
                        <td>Lollipop</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test7" />
                          <label for="test7">Red</label>
                        </td>
                        <td>Lollipop</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="group1" type="radio" id="test7" />
                          <label for="test7">Red</label>
                        </td>
                        <td>Lollipop</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="cuadro">

    <div class="row input-cuadro">
      <div class="row">
        <h3 class="col 12 black-text label-cuadro">Suscriptores</h3>
      </div>
      <div class="input-field col s6 " style="width: 410px">
        <div class="input-field col s2" style="width:130px">
          <select>
            <option value="" disabled selected>Buscar por</option>
            <option value="1">Código</option>
            <option value="2">NIT</option>
            <option value="3">Dirección</option>
            <option value="4">Primer Nombre</option>
            <option value="5">Segundo Nombre</option>
            <option value="6">Primer Apellido</option>
            <option value="7">Segundo Apellido</option>
          </select>
        </div>
        <div class="input-field col s2" style="width:130px">
          <input id="last_name" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <a class="waves-effect waves-light btn">Buscar</a>
        </div>
      </div>
      <div class="input-field col s6" style="width: 347px; margin-left: 189px;">
        <div class="row">
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
              <i class="material-icons">person_add</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
              <i class="material-icons">
                folder_shared</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar el barrio?', 
            confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info"></swal>
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
              <i class="material-icons">delete</i>
            </a>
          </div>
        </div>
      </div>
    </div>-->
  <!--<div class="row">
      <div class="col s12 container-table">
        <table class="striped centered table-cuadro">
          <thead>
            <tr>
              <th>Código</th>
              <th>Primer Nombre</th>
              <th>Segundo Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Estado</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input name="group1" type="radio" id="test5" />
                <label for="test5">Red</label>
              </td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test6" />
                <label for="test6">Red</label>
              </td>
              <td>Jellybean</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>-->
</main>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Crear Suscriptor</h4>
    <div class="row">
      <form>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Entidad</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="nit" type="text" class="validate">
            <label for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="num_cont" type="text" class="validate">
            <label for="num_cont">Número contacto</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="primer_nombre" type="text" class="validate">
            <label for="primer_nombre">Primer Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_nombre" type="text" class="validate input-nombre">
            <label for="segundo_nombre">Segundo Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="primer_ape" type="text" class="validate input-nombre">
            <label for="primer_ape">Primer Apellido</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_ape" type="text" class="validate input-nombre">
            <label for="segundo_ape">Segundo Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tel_casa" type="text" class="validate">
            <label for="tel_casa">Teléfono casa</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="tel_movil" type="text" class="validate input-nombre">
            <label for="tel_movil">Teléfono móvil</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir" type="text" class="validate input-nombre">
            <label for="dir">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir_cor" type="text" class="validate input-nombre">
            <label for="dir_cor">Dir correspondencia</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Barrio</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Zona</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="ciudad" type="text" class="validate input-nombre">
            <label for="ciudad">Ciudad</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir_cor" type="text" class="validate input-nombre">
            <label for="dir_cor">Dir correspondencia</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Guardar</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Actualizar Barrio</h4>
    <div class="row">
      <form>
        <div class="row">
          <select>
            <option value="" disabled selected>Zonas</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input disabled id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" class="validate input-nombre">
            <label for="nombre">Nombre</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Guardar</a>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Barrio</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m6">
            <label>Código Zona: </label>
          </div>
          <div class="input-field col s12 m6">
            <label>Nombre Zona: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <label>Código Barrio: </label>
          </div>
          <div class="input-field col s12 m6">
            <label>Nombre Barrio: </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Salir</a>
  </div>
</div>