<app-navbar></app-navbar>
<router-outlet></router-outlet>

<main>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue lighten-5">
        <div class="card-content black-text">
          <span class="card-title">Suscriptores</span>
          <div class="row">
            <div class="input-field col s2">
              <select>
                <option value="" disabled selected>Buscar por</option>
                <option value="1">Código</option>
                <option value="2">NIT</option>
                <option value="3">Dirección</option>
                <option value="4">Primer Nombre</option>
                <option value="5">Segundo Nombre</option>
                <option value="6">Primer Apellido</option>
                <option value="7">Segundo Apellido</option>
              </select>
            </div>
            <div class="input-field col s2" style="width:130px">
              <input id="last_name" type="text" class="validate">
            </div>
            <div class="input-field col s2">
              <a class="waves-effect waves-light btn">Buscar</a>
            </div>
            <div class="input-field col s6" style=" width: 347px;margin-left: 166px;margin-top: -21px;">
              <div class="row">
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
                    <i class="material-icons">person_add</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
                    <i class="material-icons">edit</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
                    <i class="material-icons">
                      folder_shared</i>
                  </a>
                </div>
                <div class="input-field col s1 button-right">
                  <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar el suscriptor?', 
                      confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info"></swal>
                  <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s12 container-table">
              <table class="bordered centered">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Estado</th>
                    <th>Saldo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test5" />
                      <label for="test5">Red</label>
                    </td>
                    <td>Eclair</td>
                  </tr>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test6" />
                      <label for="test6">Red</label>
                    </td>
                    <td>Jellybean</td>
                  </tr>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test7" />
                      <label for="test7">Red</label>
                    </td>
                    <td>Lollipop</td>
                  </tr>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test7" />
                      <label for="test7">Red</label>
                    </td>
                    <td>Lollipop</td>
                  </tr>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test7" />
                      <label for="test7">Red</label>
                    </td>
                    <td>Lollipop</td>
                  </tr>
                  <tr>
                    <td>
                      <input name="group1" type="radio" id="test7" />
                      <label for="test7">Red</label>
                    </td>
                    <td>Lollipop</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="cuadro">

    <div class="row input-cuadro">
      <div class="row">
        <h3 class="col 12 black-text label-cuadro">Suscriptores</h3>
      </div>
      <div class="input-field col s6 " style="width: 410px">
        <div class="input-field col s2" style="width:130px">
          <select>
            <option value="" disabled selected>Buscar por</option>
            <option value="1">Código</option>
            <option value="2">NIT</option>
            <option value="3">Dirección</option>
            <option value="4">Primer Nombre</option>
            <option value="5">Segundo Nombre</option>
            <option value="6">Primer Apellido</option>
            <option value="7">Segundo Apellido</option>
          </select>
        </div>
        <div class="input-field col s2" style="width:130px">
          <input id="last_name" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <a class="waves-effect waves-light btn">Buscar</a>
        </div>
      </div>
      <div class="input-field col s6" style="width: 347px; margin-left: 189px;">
        <div class="row">
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
              <i class="material-icons">person_add</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
              <i class="material-icons">
                folder_shared</i>
            </a>
          </div>
          <div class="input-field col s2 button-right">
            <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar el barrio?', 
            confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info"></swal>
            <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
              <i class="material-icons">delete</i>
            </a>
          </div>
        </div>
      </div>
    </div>-->
  <!--<div class="row">
      <div class="col s12 container-table">
        <table class="striped centered table-cuadro">
          <thead>
            <tr>
              <th>Código</th>
              <th>Primer Nombre</th>
              <th>Segundo Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Estado</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input name="group1" type="radio" id="test5" />
                <label for="test5">Red</label>
              </td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test6" />
                <label for="test6">Red</label>
              </td>
              <td>Jellybean</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>
                <input name="group1" type="radio" id="test7" />
                <label for="test7">Red</label>
              </td>
              <td>Lollipop</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
              <td>Eclair</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>-->
</main>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Crear Suscriptor</h4>
    <div class="row">
      <form>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Entidad</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="nit" type="text" class="validate">
            <label for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="num_cont" type="text" class="validate">
            <label for="num_cont">Número contacto</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="primer_nombre" type="text" class="validate">
            <label for="primer_nombre">Primer Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_nombre" type="text" class="validate input-nombre">
            <label for="segundo_nombre">Segundo Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="primer_ape" type="text" class="validate input-nombre">
            <label for="primer_ape">Primer Apellido</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_ape" type="text" class="validate input-nombre">
            <label for="segundo_ape">Segundo Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tel_casa" type="text" class="validate">
            <label for="tel_casa">Teléfono casa</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="tel_movil" type="text" class="validate input-nombre">
            <label for="tel_movil">Teléfono móvil</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir" type="text" class="validate input-nombre">
            <label for="dir">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir_cor" type="text" class="validate input-nombre">
            <label for="dir_cor">Dir correspondencia</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Barrio</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Zona</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="ciudad" type="text" class="validate input-nombre">
            <label for="ciudad">Ciudad</label>
          </div>
          <div class="input-field col s12 m3">
            <label for="date">Fecha nacimiento</label>
            <input id="date" type="text" class="datepicker">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="email" type="email" class="validate">
            <label for="email">Correo</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Persona</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Vendedor</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <label for="date">Fecha afiliación</label>
            <input id="date" type="text" class="datepicker">
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tarifa</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="valor_des" type="text" class="validate input-nombre">
            <label for="valor_des">Valor descuento</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="valor_afi" type="text" class="validate input-nombre">
            <label for="valor_afi">Valor afiliación</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Precio</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Estrato</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="contacto" type="text" class="validate input-nombre">
            <label for="contacto">Contacto</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="observaciones" type="text" class="validate input-nombre">
            <label for="observaciones">Observaciones</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tipo_fac" type="text" class="validate input-nombre">
            <label for="tipo_fac">Tipo Facturación</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Estado físico</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="tecnico" type="text" class="validate input-nombre">
            <label for="tecnico">Técnico</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Televisión</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="decodificacion" type="text" class="validate input-nombre">
            <label for="decodificacion">N.Decodif</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="saldo" type="text" class="validate input-nombre" disabled>
            <label for="saldo">Saldo cliente</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="estado" type="text" class="validate input-nombre" disabled>
            <label for="estado">Estado</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="ultimo_pago" type="text" class="validate input-nombre" disabled>
            <label for="ultimo_pago">Último pago</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Guardar</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Actualizar Suscriptor</h4>
    <div class="row">
      <form>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="codigo" type="text" class="validate">
            <label for="codigo">Código</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Entidad</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="nit" type="text" class="validate">
            <label for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="num_cont" type="text" class="validate">
            <label for="num_cont">Número contacto</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="primer_nombre" type="text" class="validate">
            <label for="primer_nombre">Primer Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_nombre" type="text" class="validate input-nombre">
            <label for="segundo_nombre">Segundo Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="primer_ape" type="text" class="validate input-nombre">
            <label for="primer_ape">Primer Apellido</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="segundo_ape" type="text" class="validate input-nombre">
            <label for="segundo_ape">Segundo Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tel_casa" type="text" class="validate">
            <label for="tel_casa">Teléfono casa</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="tel_movil" type="text" class="validate input-nombre">
            <label for="tel_movil">Teléfono móvil</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir" type="text" class="validate input-nombre">
            <label for="dir">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="dir_cor" type="text" class="validate input-nombre">
            <label for="dir_cor">Dir correspondencia</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Barrio</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Zona</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="ciudad" type="text" class="validate input-nombre">
            <label for="ciudad">Ciudad</label>
          </div>
          <div class="input-field col s12 m3">
            <label for="date">Fecha nacimiento</label>
            <input id="date" type="text" class="datepicker">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="email" type="email" class="validate">
            <label for="email">Correo</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Persona</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Vendedor</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <label for="date">Fecha afiliación</label>
            <input id="date" type="text" class="datepicker">
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tarifa</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="valor_des" type="text" class="validate input-nombre">
            <label for="valor_des">Valor descuento</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="valor_afi" type="text" class="validate input-nombre">
            <label for="valor_afi">Valor afiliación</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Precio</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
        </div>
        <div class="row">
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Estrato</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="contacto" type="text" class="validate input-nombre">
            <label for="contacto">Contacto</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="observaciones" type="text" class="validate input-nombre">
            <label for="observaciones">Observaciones</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tipo_fac" type="text" class="validate input-nombre">
            <label for="tipo_fac">Tipo Facturación</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Estado físico</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
          <div class="input-field col s12 m3">
            <input id="tecnico" type="text" class="validate input-nombre">
            <label for="tecnico">Técnico</label>
          </div>
          <select class="input-field col s12 m3">
            <option value="" disabled selected>Tipo Televisión</option>
            <option value="1">Zona1</option>
            <option value="2">Zona2</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="decodificacion" type="text" class="validate input-nombre">
            <label for="decodificacion">N.Decodif</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="saldo" type="text" class="validate input-nombre" disabled>
            <label for="saldo">Saldo cliente</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="estado" type="text" class="validate input-nombre" disabled>
            <label for="estado">Estado</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="ultimo_pago" type="text" class="validate input-nombre" disabled>
            <label for="ultimo_pago">Último pago</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Guardar</a>
  </div>
</div>

<div id="modal3" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Suscriptor</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Código: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Tipo Entidad: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>NIT: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Número contacto: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Primer Nombre: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Segundo Nombre: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Primer Apellido: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Segundo Apellido: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Teléfono casa: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Teléfono movil: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Dirección: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Dirección correspondencia: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Barrio: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Zona: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Ciudad: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Fecha nacimiento: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Correo: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Tipo persona: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Vendedor: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Fecha afiliación: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Tarifa: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Valor descuento: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Valor afiliación: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Tipo precio: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Estrato: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Contacto: </label>
          </div>
          <div class="input-field col s12 m6">
            <label>Observaciones: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>Tipo factura: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Estado físico: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Técnico: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Tipo Televisión: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <label>N.Decodificación: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Saldo cliente: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Estado: </label>
          </div>
          <div class="input-field col s12 m3">
            <label>Último pago: </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Salir</a>
  </div>
</div>