.img-user {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    align-content: center
}

.nav-bar {
    margin-left: 10px
}

.wrapper {
    padding-left: 300px;
}

.right-nav {
    margin-top: 64px
}

.color-back {
    background-color: #1976d2 
}

.user-view {
    text-align: center;
}

.user-view-img {
    margin-left: 87px
}

.icon {
    color: greenyellow
}