.img-user {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    align-content: center
}

.brand-logo {
    margin-left: 0px;
    height: 64px;
    margin-left: 0px;
    line-height: 53px;
}

.brand-logo h4 {
    margin: 0;
    padding-top: .8rem;
}

.color-back {
    background-color: #1976d2 
}

.user-view {
    text-align: center;
}

.user-view-img {
    margin-left: 87px
}

.icon {
    color: greenyellow
}

.color-coll {
    background-color: #00396F
}