.img-user {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    align-content: center
}

.nav-bar {
    margin-left: 10px
}

.wrapper {
    padding-left: 300px;
}

.right-nav {
    margin-top: 64px
}

.color-back {
    background-color: #1976d2 
}

.user-view {
    text-align: center;
}

.user-view-img {
    margin-left: 87px
}

.icon {
    color: greenyellow
}

.color-coll {
    background-color: #00396F
}

.logo {
    margin-left: 20px
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      