<app-navbar></app-navbar>
<app-navbar-principal></app-navbar-principal>

<div class="row">
  <div class="col s12">
    <div class="card blue lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Barrios</span>
        <div class="row">
          <div class="col s12 m6">
            <div class="row">
              <div class="input-field col s12 m4">
                <select name="filtros" id="select-filtro">
                  <option value="" disabled selected>Buscar por</option>
                  <option value="codigo">Código</option>
                  <option value="nombre">Nombre</option>
                </select>
              </div>
              <div class="input-field col s12 m4">
                <input type="text" id="valor" [(ngModel)]="prueba" name="prueba">
              </div>
              <div class="input-field col s12 m4">
                <a (click)="buscar()" class="waves-effect waves-light btn">Buscar</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="row">
              <div class="input-field col s3 m1 button-right mt-0">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
                  <i class="material-icons">person_add</i>
                </a>
              </div>
              <div class="input-field col s3 m1 button-right mt-0">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
                  <i class="material-icons">edit</i>
                </a>
              </div>
              <div class="input-field col s3 m1 button-right mt-0">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
                  <i class="material-icons">
                    folder_shared</i>
                </a>
              </div>
              <div class="input-field col s3 m1 button-right mt-0">
                <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar el barrio?', 
                  confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info" (confirm)="deleteBarrio()"></swal>
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
                  <i class="material-icons">delete</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-action">
        <div class="row">
          <div class="col s12 container-table">
            <table class="bordered centered">
              <thead>
                <tr>
                  <th>Código Barrio</th>
                  <th>Código Zona</th>
                  <th>Nombre Barrio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let barrio of barrios; let i = index'>
                  <td>
                    <input name="group1" type="radio" [id]="'radio_'+i" (change)="datoSeleccionado(barrio)" />
                    <label [attr.for]="'radio_'+i">{{ barrio.id }}</label>
                  </td>
                  <td>{{ barrio.zone_id }}</td>
                  <td>{{ barrio.nombre }}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Crear Barrio</h4>
    <div class="row">
      <form>
        <div class="row">
          <select class="input-field col s12 m6" id="select2">
            <option value="" disabled selected>Zonas</option>
            <option [value]="zona.id" *ngFor="let zona of zonas">{{ zona.nombre}}</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="nombre" type="text" class="validate" #nombreBarrio>
            <label for="nombre">Nombre</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <swal #guardar [options]="{ title: 'Barrio guardado con éxito', 
      confirmButtonText: 'Aceptar'}" type="info"></swal>
    <a class="waves-effect waves-light btn" (click)="crearBarrio(nombreBarrio.value)" (click)="guardar.show()">Guardar</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Actualizar Barrio</h4>
    <form>
      <div class="row" *ngIf="barrioEdit">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="zona" disabled type="text" class="validate" [(ngModel)]="barrioEdit.id" [ngModelOptions]="{standalone: true}"
              #idZona>
            <label class="active" for="zona">Código</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="cod_zona" disabled type="text" class="validate" [(ngModel)]="barrioEdit.zone_id" [ngModelOptions]="{standalone: true}"
              #idZona>
            <label class="active" for="cod_zona">Código Zona</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" class="validate" [(ngModel)]="barrioEdit.nombre" [ngModelOptions]="{standalone: true}" #nombreBarrio>
            <label class="active" for="nombre">Nombre</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <swal #actualizar [options]="{ title: 'Barrio actualizado con éxito', 
      confirmButtonText: 'Aceptar'}" type="info"></swal>
    <a class="waves-effect waves-light btn" (click)="actualizarBarrio()" (click)="actualizar.show()">Guardar</a>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Barrio</h4>
    <div class="row">
      <form class="col s12">
        <div class="row" *ngIf="barrioEdit">
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" disabled class="validate" [(ngModel)]="barrioEdit.zone_id" [ngModelOptions]="{standalone: true}">
            <label class="active" for="nombre">Código Zona</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" disabled class="validate" [(ngModel)]="barrioEdit.id" [ngModelOptions]="{standalone: true}">
            <label class="active" for="nombre">Código Barrio</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="nombre" type="text" disabled class="validate input-nombre" [(ngModel)]="barrioEdit.nombre" [ngModelOptions]="{standalone: true}">
            <label class="active" for="nombre">Nombre Barrio</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Salir</a>
  </div>
</div>