<app-navbar></app-navbar>
<app-navbar-principal></app-navbar-principal>

<div class="row">
  <div class="col s12">
    <div class="card blue lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Empresa</span>
        <div class="row">
          <div class="col s12 m6">
            <div class="row">
              <div class="input-field col s4">
                <select name="filtros" id="select-filtro">
                  <option value="" disabled selected>Buscar por</option>
                  <option value="nit">NIT</option>
                  <option value="nombre">Nombre</option>
                </select>
              </div>
              <div class="input-field col s4">
                <input id="last_name" type="text" class="validate" [(ngModel)]="prueba" name="prueba">
              </div>
              <div class="input-field col s4">
                <a class="waves-effect waves-light btn" (click)="buscar()">Buscar</a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="row">
              <div class="input-field col s3 m1 mt-0 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal1">
                  <i class="material-icons">person_add</i>
                </a>
              </div>
              <div class="input-field col s3 m1 mt-0 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1 modal-trigger" href="#modal2">
                  <i class="material-icons">edit</i>
                </a>
              </div>
              <div class="input-field col s3 m1 mt-0 button-right">
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1  modal-trigger" href="#modal3">
                  <i class="material-icons">
                    folder_shared</i>
                </a>
              </div>
              <div class="input-field col s3 m1 mt-0 button-right">
                <swal #dialog [options]="{ title: '¿Está seguro que desea eliminar la empresa?', 
                confirmButtonText: 'Eliminar', showCancelButton: 'true', type: 'warning' }" type="info" (confirm)="deleteEmpresa()"></swal>
                <a class="btn-floating btn-large waves-effect waves-light yellow darken-1" (click)="dialog.show()">
                  <i class="material-icons">delete</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 container-table">
            <table class="bordered centered">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>NIT</th>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let empresa of empresas; let i = index'>
                  <td>
                      <input name="group1" type="radio" [id]="'radio_'+i" (change)="datoSeleccionado(empresa)" />
                      <label [attr.for]="'radio_'+i">{{ empresa.id }}</label>
                  </td>
                  <td>{{ empresa.nit }}</td>
                  <td>{{ empresa.nombre }}</td>
                  <td>{{ empresa.direccion }}</td>
                  <td>{{ empresa.telefono1 }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Crear Empresa</h4>
    <div class="row">
      <form>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="nit" type="text" class="validate" #nit>
            <label for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="nombre" type="text" class="validate input-nombre" #nombre>
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="direccion" type="text" class="validate" #direccion>
            <label for="direccion">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="correo" type="text" class="validate input-nombre" #correo>
            <label for="correo">Correo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3">
            <input id="tel1" type="text" class="validate" #tel1>
            <label for="tel1">Teléfono 1</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="tel2" type="text" class="validate input-nombre" #tel2>
            <label for="tel2">Teléfono 2</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="fax" type="text" class="validate" #fax>
            <label for="fax">Fax</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="contacto" type="text" class="validate input-nombre" #contacto>
            <label for="contacto">Contacto</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3" #regimen>
            <option value="" disabled selected>Régimen</option>
            <option value="1">Común</option>
            <option value="2">Simplificado</option>
          </select>
          <div class="input-field col s12 m6">
            <input id="actividad" type="text" class="validate input-nombre" #actividad>
            <label for="actividad">Actividad</label>
          </div>
          <select class="input-field col s12 m3" #contribuyente>
            <option value="" disabled selected>Gran contribuyente</option>
            <option value="1">Si</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="resolucion" type="text" class="validate input-nombre" #resolucion>
            <label for="resolucion">Resolución Contrato</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="representante" type="text" class="validate input-nombre" #representante>
            <label for="representante">Representante</label>
          </div>
          <select class="input-field col s12 m3" #ciudad id="select2">
            <option value="" disabled selected>Ciudad</option>
            <option [value]="ciudad.id" *ngFor="let ciudad of ciudades">{{ ciudad.nombre }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <swal #guardar [options]="{ title: 'Empresa guardada con éxito', 
    confirmButtonText: 'Aceptar'}" type="info"></swal>
  <a class="waves-effect waves-light btn" (click)="crearEmpresa(nit.value, nombre.value, direccion.value, tel1.value,
    tel2.value, fax.value, contacto.value, correo.value, regimen.value, actividad.value, contribuyente.value, resolucion.value,
    representante.value)" (click)="guardar.show()">Guardar</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Actualizar Empresa</h4>
    <div class="row">
      <form>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m3">
            <input id="nit" type="text" class="validate" [(ngModel)]="empresaEdit.nit" [ngModelOptions]="{standalone: true}">
            <label class="active" for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="nombre" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.nombre" [ngModelOptions]="{standalone: true}">
            <label  class="active" for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="direccion" type="text" class="validate" [(ngModel)]="empresaEdit.direccion" [ngModelOptions]="{standalone: true}">
            <label class="active" for="direccion">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="correo" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.correo" [ngModelOptions]="{standalone: true}">
            <label class="active" for="correo">Correo</label>
          </div>
        </div>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m3">
            <input id="tel1" type="text" class="validate" [(ngModel)]="empresaEdit.telefono1" [ngModelOptions]="{standalone: true}">
            <label class="active" for="tel1">Teléfono 1</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="tel2" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.telefono2" [ngModelOptions]="{standalone: true}">
            <label class="active" for="tel2">Teléfono 2</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="fax" type="text" class="validate" [(ngModel)]="empresaEdit.fax" [ngModelOptions]="{standalone: true}">
            <label class="active" for="fax">Fax</label>
          </div>
          <div class="input-field col s12 m3">
            <input id="contacto" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.contacto" [ngModelOptions]="{standalone: true}">
            <label class="active" for="contacto">Contacto</label>
          </div>
        </div>
        <div class="row">
          <select class="input-field col s12 m3" #regimen1>
            <option value="" disabled selected>Régimen</option>
            <option value="1">Común</option>
            <option value="2">Simplificado</option>
          </select>
          <div class="input-field col s12 m6" *ngIf="empresaEdit">
            <input id="actividad" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.actividade" [ngModelOptions]="{standalone: true}">
            <label class="active" for="actividad">Actividad</label>
          </div>
          <select class="input-field col s12 m3" #contribuyente1>
            <option value="" disabled selected>Gran contribuyente</option>
            <option value="1">Si</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12 m6" *ngIf="empresaEdit">
            <input id="resolucion" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.resolucionCntv" [ngModelOptions]="{standalone: true}">
            <label class="active" for="resolucion">Resolución Contrato</label>
          </div>
          <div class="input-field col s12 m3" *ngIf="empresaEdit">
            <input id="representante" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.representante" [ngModelOptions]="{standalone: true}">
            <label class="active" for="representante">Representante</label>
          </div>
          <select class="input-field col s12 m3"  id="select3">
            <option value="" disabled selected>Ciudad</option>
            <option [value]="ciudad.id" *ngFor="let ciudad of ciudades">{{ ciudad.nombre }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <swal #actualizar [options]="{ title: 'Empresa actualizada con éxito', 
    confirmButtonText: 'Aceptar'}" type="info"></swal>
  <a class="waves-effect waves-light btn" (click)="actualizarEmpresa(regimen1.value, contribuyente1.value)" (click)="actualizar.show()">Guardar</a>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Empresa</h4>
    <div class="row">
      <form>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m3">
            <input disabled id="nit" type="text" class="validate" [(ngModel)]="empresaEdit.nit" [ngModelOptions]="{standalone: true}">
            <label class="active" for="nit">NIT</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="nombre" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.nombre" [ngModelOptions]="{standalone: true}">
            <label  class="active" for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="direccion" type="text" class="validate" [(ngModel)]="empresaEdit.direccion" [ngModelOptions]="{standalone: true}">
            <label class="active" for="direccion">Dirección</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="correo" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.correo" [ngModelOptions]="{standalone: true}">
            <label class="active" for="correo">Correo</label>
          </div>
        </div>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m3">
            <input disabled id="tel1" type="text" class="validate" [(ngModel)]="empresaEdit.telefono1" [ngModelOptions]="{standalone: true}">
            <label class="active" for="tel1">Teléfono 1</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="tel2" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.telefono2" [ngModelOptions]="{standalone: true}">
            <label class="active" for="tel2">Teléfono 2</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="fax" type="text" class="validate" [(ngModel)]="empresaEdit.fax" [ngModelOptions]="{standalone: true}">
            <label class="active" for="fax">Fax</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="contacto" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.contacto" [ngModelOptions]="{standalone: true}">
            <label class="active" for="contacto">Contacto</label>
          </div>
        </div>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m3">
            <input disabled id="regimen" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.regimen" [ngModelOptions]="{standalone: true}">
            <label class="active" for="regimen">Régimen</label>
          </div>
          <div class="input-field col s12 m6" >
            <input disabled id="actividad" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.actividade" [ngModelOptions]="{standalone: true}">
            <label class="active" for="actividad">Actividad</label>
          </div>
          <div class="input-field col s12 m3">
            <input disabled id="contacto" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.contribuyente" [ngModelOptions]="{standalone: true}">
            <label class="active" for="contacto">Gran contribuyente</label>
          </div>
        </div>
        <div class="row" *ngIf="empresaEdit">
          <div class="input-field col s12 m6" >
            <input disabled id="resolucion" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.resolucionCntv" [ngModelOptions]="{standalone: true}">
            <label class="active" for="resolucion">Resolución Contrato</label>
          </div>
          <div class="input-field col s12 m3" >
            <input disabled id="representante" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.representante" [ngModelOptions]="{standalone: true}">
            <label class="active" for="representante">Representante</label>
          </div>
          <div class="input-field col s12 m3" >
            <input disabled id="ciudad" type="text" class="validate input-nombre" [(ngModel)]="empresaEdit.idciudad" [ngModelOptions]="{standalone: true}">
            <label class="active" for="ciudad">Ciudad</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn">Salir</a>
  </div>
</div>