   
    .btn-floating.btn-large {
        width: 40px;
        height: 40px
    }
    
    .btn-floating.btn-large i {
        line-height: 43px;
    }
    
    .input-right {
        margin-left: 100px;
    }
    
    .button-right {
        margin-right: 10px;
        padding: 20px
    }
    
    .modal {
        width: 500px;
    }
    
    .input-nombre {
        width: 200px
    }

   .container-table {
        max-height: 18rem;
        overflow-y: scroll; 
        
    }

    .mt-0 {
        margin-top: 0;
    }
     