.cuadro {
background-color: white;
margin-left: 344px;
width: 978px;
height: 300px;
margin-top: 40px;
height: 479px;
border-radius: 2em;

}

.label-cuadro {
    margin-left: 30px;
}

.table-cuadro {
    padding-top: 100px;
    width: 800px;
    margin-left: 80px;
}

.input-cuadro {
    width: 948px;
    margin-left: 10px
}

.btn-floating.btn-large {
    width: 40px;
    height: 40px
}

.btn-floating.btn-large i {
    line-height: 43px;
}
.row .col.s6 {
    width: 132px;
    margin-left: auto;
    left: auto;
    right: auto;
}

.input-right {
    margin-left: 100px;
}

.button-right {
    margin-right: 10px;
    padding: 10px
}

.modal {
    width: 500px;
    opacity: .5 !important;
}

.input-nombre {
    width: 200px
}
.container-400 {
    width: 410px !important;
}
.container-table {
    max-height: 15rem;
    overflow-y: scroll;
    
}
